---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

.publications {
  counter-reset: pub-counter;
}
.publications .row {
  display: block;
  margin-bottom: 1.5rem;
}
.publications .row::before {
  counter-increment: pub-counter;
  content: counter(pub-counter) ". ";
  font-weight: bold;
  font-size: 1.1rem;
  float: left;
  margin-right: 0.5rem;
}

